.about{
    width: 100%;
    padding: 60px 0px;
}
.atext{
    color: white;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 8px;
}

.atext h1{
    font-family: var(--fonts);
    font-size: var(--htext);
    line-height: var(--hline);
    margin-bottom: 10px;
}

.atext span{
    font-weight: bolder;
    /* color:  #3DB8A5; */
    color:#3DB8A5; 
}

.atext p{
    font-size: var(--ptext);
    line-height:var(--pline);
    margin-bottom: 15px;
    font-family: sans-serif;
}

.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row;
    padding:60px;
}

.acard{
    width: 30%;
    padding: 20px 20px;
    color: white;
    border-radius: 13px 13px 14px 10px;
-webkit-border-radius: 13px 13px 14px 10px;
-moz-border-radius: 13px 13px 14px 10px;
background: rgb(58, 67, 92);
    background: linear-gradient(79deg, rgb(31, 37, 54) 6%, rgb(40, 39, 39) 90%, rgb(26, 34, 41) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    text-align: center;
    transition: all ease 0.5s;
}

.acard:hover{
    transform: scale(1.06);
}

.picture{
    width: 100%;
    margin-bottom: 12px;
}

.acard h2{
    font-family: var(--fonts);
    font-size:30px;
    color:  #3DB8A5; 
    margin-bottom:6px;
}

.acard p{
    font-size:16px;
    line-height:28px;
}

@media(max-width:540px){
.atext{
    padding: 0px 40px;
}

.atext h1{
    font-size: var(--mheading);
    line-height: var(--mline);

}

.cards{
     flex-direction: column;
     flex-wrap: wrap;
     gap: 25px;
     padding: 40px 10px;
}

.acard{
width: 300px;

}

}