@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --fonts:"Bebas Neue", serif;
    --htext:70px;
    --hline:75px;
    --h2text:24px;
    --ptext:18px;
    --pline:30px;
    --mheading:50px;
    --mline:60px;
    --mh2:22px;
}

body{
  background-color:#080A0B;
 }
